.btn-1 {
  @include btn-base;
  background-color: black;
  color: white;
  transition: 0.35s all ease;
  &:hover {
    background-color: $light-gray;
    color: black;
  }
}

.btn-2 {
  @include btn-base;
  width: auto;
  background-color: transparent;
  color: black;
  padding: 0;
  height: auto;
  position: relative;
  .svg-arrow {
    position: absolute;
    right: -4rem;
  }
  &:hover {
    text-decoration: underline;
  }
}

.btn-3 {
  @include btn-base;
  background-color: white;
  color: black;
  transition: 0.35s all ease;
  &:hover {
    background-color: $light-gray;
  }
}

.btn-4 {
  @include btn-base;
  width: auto;
  background-color: transparent;
  color: white;
  position: relative;
  padding: 0;
  height: auto;
  .svg-arrow {
    filter: invert(1);
    position: absolute;
    right: -4rem;
  }
  &:hover {
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 1px 0px 0px #ffffff;
  }
}
