.story-wrapper {
  padding-bottom: 139%;
  position: relative;
  top: 0;
  transition: 0.25s top ease-out;
  &:hover {
    cursor: pointer;
    top: -1.5rem;
    transition: 0.25s top ease-out;
    .accent-border {
      width: 100%;
      height: 0.5rem;
      background: $main-accent-tr;
      position: absolute;
      bottom: 0;
    }
  }
  .story {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2.5rem 2.5rem 2.5rem;
    color: white;
    .story-date {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0.5rem;
    }
    h3 {
      font-weight: bold;
    }
    p {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
    }
    button.btn-4 {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      .svg-arrow {
        right: 0;
      }
      &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  &.the-mountains {
    background: $img-darkener,
      url("assets/stories/desktop/mountains.jpg") no-repeat;
    background-size: cover;
  }
  &.cityscapes {
    background: $img-darkener,
      url("assets/stories/desktop/cityscapes.jpg") no-repeat;
    background-size: cover;
  }
  &.voyage {
    background: $img-darkener,
      url("assets/stories/desktop/18-days-voyage.jpg") no-repeat;
    background-size: cover;
  }
  &.architecturals {
    background: $img-darkener,
      url("assets/stories/desktop/architecturals.jpg") no-repeat;
    background-size: cover;
  }
  &.world-tour {
    background: $img-darkener,
      url("assets/stories/desktop/world-tour.jpg") no-repeat;
    background-size: cover;
  }
  &.unforeseen-corners {
    background: $img-darkener,
      url("assets/stories/desktop/unforeseen-corners.jpg") no-repeat;
    background-size: cover;
  }
  &.king-on-africa {
    background: $img-darkener,
      url("assets/stories/desktop/king-on-africa.jpg") no-repeat;
    background-size: cover;
  }
  &.trip-to-nowhere {
    background: $img-darkener,
      url("assets/stories/desktop/trip-to-nowhere.jpg") no-repeat;
    background-size: cover;
  }
  &.rage-of-the-sea {
    background: $img-darkener,
      url("assets/stories/desktop/rage-of-the-sea.jpg") no-repeat;
    background-size: cover;
  }
  &.running-free {
    background: $img-darkener,
      url("assets/stories/desktop/running-free.jpg") no-repeat;
    background-size: cover;
  }
  &.behind-the-waves {
    background: $img-darkener,
      url("assets/stories/desktop/behind-the-waves.jpg") no-repeat;
    background-size: cover;
  }
  &.calm-waters {
    background: $img-darkener,
      url("assets/stories/desktop/calm-waters.jpg") no-repeat;
    background-size: cover;
  }
  &.milky-way {
    background: $img-darkener,
      url("assets/stories/desktop/milky-way.jpg") no-repeat;
    background-size: cover;
  }
  &.dark-forest {
    background: $img-darkener,
      url("assets/stories/desktop/dark-forest.jpg") no-repeat;
    background-size: cover;
  }
  &.somwarpet {
    background: $img-darkener,
      url("assets/stories/desktop/somwarpet.jpg") no-repeat;
    background-size: cover;
  }
  &.land-of-dreams {
    background: $img-darkener,
      url("assets/stories/desktop/land-of-dreams.jpg") no-repeat;
    background-size: cover;
  }
}
