$accent-color-1: #ffc593;
$accent-color-2: #bc7198;
$accent-color-3: #5a77ff;

$main-accent: linear-gradient(
  to top,
  $accent-color-1,
  $accent-color-2,
  $accent-color-3
);

$main-accent-tr: linear-gradient(
  to top right,
  $accent-color-1,
  $accent-color-2,
  $accent-color-3
);

$main-accent-r: linear-gradient(
  to right,
  $accent-color-1,
  $accent-color-2,
  $accent-color-3
);

$light-gray: #dfdfdf;
$gray: #b2b2b2;

$img-darkener: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
